.textAlign{
	text-align: center;
}

.boxshadow{
	box-shadow: 0 0px 5px rgba(0,0,0,0.2);
}

.gridwidth{
	overflow-x:scroll!important;
}


.search-container {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-left:465px;
}

div.restaurent-align {
	
	
	
	
	
	left: 0;
	right: 0;
  	
	margin: auto;
}